// Rem output with px fallback
@mixin font-size($size-value: 1) {
	font-size: ($size-value * 16) * 1px;
	font-size: $size-value * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
