.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5rem;
}

.alignright {
	display: inline-block;
	float: right;
	margin-left: 1.5rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}
