/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure images are scaled correctly. */
img {
	height: auto;
	max-width: 100%;
}

/* Extra wide images within figure tags don't overflow the content area. */
figure {
	margin: 1em 0;
}
