.alignleft {
	float: left;
	margin-bottom: $global-spacing-unit;
	margin-right: $global-spacing-unit;
}

.alignright {
	float: right;
	margin-bottom: $global-spacing-unit;
	margin-left: $global-spacing-unit;
}

.aligncenter {
	@include center-block;
	clear: both;
}
