.wp-caption {
	margin-bottom: 1.5rem;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.875rem 0;
	}
}

.wp-caption-text {
	text-align: center;
}
