button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color-darkest;
	border: none;
	color: $color-white;
	padding: $global-spacing-unit-tiny $global-spacing-unit-small;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-dark;
	}
}
