html {
	color: $color-darkest;
	font-family: $font-main;
	font-size: ($global-font-size / 1rem) * 100%;
	line-height: $global-line-height;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

// Fallback for when there is no custom background color defined.
body {
	background: $color-white;
}

p {
	margin: 0 0 $global-spacing-unit 0;
}
