body,
button,
input,
select,
optgroup,
textarea {
	color: $color-darkest;
	font-family: $font-main;
	@include font-size(1);
	line-height: $font-line-height-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font-heading;
}

p {
	margin-bottom: 1.5em;
}
